:root {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
  --gnb-height: 85px;
}

:root {
  --black-80: #6D6D6D;
  --black-100: #000000;
  --white-100: #FFFFFF;
}

body {
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 99.9%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}